span {
  font-size: 3.5em;
  cursor: pointer;
  display: inline-block;
}

#heart {
  animation: heart 1.3s infinite;
  transform-origin: 50% 50% 0;
}

@keyframes heart {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}
