.bg {
  background-color: #c4c4c4;
}

.navdrop {
  color: white;
  fill: white;
}

.dropdown-toggle {
  display: none;
  border-top: none;
}

.navAnon,
.navAnon:hover,
.navAnon:focus,
.navAnon:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-toggler-collapsed {
  width: 10px;
  height: 10px;
}

.navbar-toggler-icon {
  width: 0.6em !important;
  height: 0.6em !important;
}

.marginTop {
  margin-top: 62px !important;
}

.link-react-nav,
.link-react-nav:hover,
.link-react-nav:focus,
.link-react-nav:active {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
