.profile-image {
  box-sizing: border-box;
}
.image-profile {
  text-align: right;
}

.nav-top-user {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.nav-top-provider {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  font-weight: bold;
}

.nav-top-spectator {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.profile-top-spectator {
  padding: 3%;
  background-color: rgba(252, 3, 244, 0.3);
}

.profile-top-user {
  padding: 3%;
  background-color: #fffede;
}

.profile-top-provider {
  padding: 3%;
  background-color: rgb(138, 237, 201, 0.6);
}

.profilePic {
  height: 180px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.profile-top-elements {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.name-profile {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-profile {
  text-align: left;
}

.category {
  font-size: smaller;
  background-color: #8aedc9;
  color: white;
  padding: 2px 15px;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  font-weight: bold;
}

.facebook {
  padding-top: 10px;
}

.review-title {
  text-align: left;
}
