.profile-image {
  box-sizing: border-box;
}
.image-profile {
  width: 50%;
}

.nav-top-user {
  display: flex;
  justify-content: center;
  background-color: #fffede;
  margin-bottom: 0%;
  font-weight: bold;
}

.nav-top-provider {
  display: flex;
  justify-content: center;
  background-color: #dfffec;
  margin-bottom: 0%;
  font-weight: bold;
}
.profile-top-user {
  padding: 5%;
  background-color: #fffede;
}

.profile-top-provider {
  padding: 5%;
  background-color: #dfffec;
}

.profilePic {
  height: 180px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.profile-top-elements {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0 8%;
}

.profile-top-elements {
  text-align: left;
}

.name-profile {
  margin-left: 10%;
}
