.cardPicture {
  /* height: 80%;
  width: 80%; */
  max-height: 100px;
  max-width: 100px;
  margin-bottom: 2%;
}

.card {
  margin: 10px 0 62px 0;
}

.filter {
  display: flex;
  text-align: left;
}

.filter > div {
  padding: 3px 5px;
}

.alignleft {
  text-align: left;
}
