@font-face {
  /*  
  font-family: "Britanica-Black";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Black.woff");
  font-family: "Britanica-Bold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Bold.woff");
  font-family: "Britanica-ExtraBold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-ExtraBold.woff");
  font-family: "Britanica-Heavy";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Heavy.woff");
  font-family: "Britanica-Light";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Light.woff");
  font-family: "Britanica-Thin";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Thin.woff"); */
  font-family: "Britanica-Regular";
  src: url("./fonts/Britanica_WOFF/WOFF/BritanicaVariable-Regular.woff");
}

body,
html {
  height: 100%;
  width: 100%;
  margin-bottom: 62px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Britanica-Regular" !important;
}

.marginBottom {
  margin-bottom: 62px !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #727272;
}

.general-btn,
.general-btn:hover,
.general-btn:focus,
.general-btn:active {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background-color: rgba(252, 3, 244, 0.3);
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.changePw {
  margin-bottom: 2%;
  text-align: left;
}

.login-signup-p {
  text-align: left !important;
  margin-top: 5%;
  line-height: 10px;
}

.link-react {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  color: rgba(252, 3, 244);
}

.cleanLink,
.cleanLink:hover,
.cleanLink:focus,
.cleanLink:active {
  color: white;
  text-decoration: none;
}

.edit-btn-provider,
.edit-btn-provider:hover,
.edit-btn-provider:focus,
.edit-btn-provider:active {
  display: inline-block;
  border: none;
  padding: 8px 18px;
  margin: 0;
  text-decoration: none;
  background-color: rgb(138, 237, 201);
  color: white;
  font-weight: bold;
  margin: 15px 0;
}

.edit-btn-user,
.edit-btn-user:hover,
.edit-btn-user:focus,
.edit-btn-user:active {
  display: inline-block;
  border: none;
  padding: 8px 18px;
  margin: 0;
  text-decoration: none;
  background-color: #fffb82;
  color: #727272;
  font-weight: bold;
  margin: 15px 0;
}

.profilePic {
  height: 180px;
  width: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.flexCard {
  display: flex;
  padding: 1em;
  justify-content: space-around;
}

.cardDetails {
  margin-left: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categoryPublic {
  font-size: smaller;
  background-color: rgba(252, 3, 244, 0.5);
  color: white;
  padding: 2px 15px;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  font-weight: bold;
}

/* test */
