/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"); */

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Britanica-Regular";
}

@font-face {
  /*  
  font-family: "Britanica-Black";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Black.woff");
  font-family: "Britanica-Bold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Bold.woff");
  font-family: "Britanica-ExtraBold";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-ExtraBold.woff");
  font-family: "Britanica-Heavy";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Heavy.woff");
  font-family: "Britanica-Light";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Light.woff");
  font-family: "Britanica-Thin";
  src: url("/fonts/Britanica_WOFF/WOFF/BritanicaVariable-Thin.woff"); */
  font-family: "Britanica-Regular";
  src: url("./fonts/Britanica_WOFF/WOFF/BritanicaVariable-Regular.woff");
}

form {
  display: flex;
  flex-direction: column;
}

.app {
  padding-bottom: 20px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: #727272;
}

.general-btn,
.general-btn:hover,
.general-btn:focus,
.general-btn:active {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background-color: rgba(252, 3, 244, 0.3);
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

/* test */
